body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    background: linear-gradient(to bottom, #393882, #A0E0E2);
    min-height: 100vh;
    padding: 20px;
    position: fixed;
    width: 250px;
    transition: all 0.3s;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover,
.sidebar .active {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.profile-menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    transition: background 0.3s;
    font-size: 0.875rem;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    text-align: right;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
.custom-button {
    background-color: #7CB7E3;
    border: none;
}

.submenu a {
    padding: 8px 15px;
    font-size: 0.875rem;
}

.submenu {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 0;
        padding: 0;
        overflow: hidden;
    }

    .footer {
        text-align: center;
        padding: 15px 0;
    }
}

/* New styles for main content */
.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

