body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3A81C8;
    margin: 0;
    font-family: Arial, sans-serif;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.back-btn svg {
    stroke: white;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.back-btn:hover svg {
    transform: scale(1.1);
}


.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h2 {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #4338ca;
}