{% extends "base_template_karyawan.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-text">
            <p class="fs-3 fw-bold">Selamat Datang Di<br>Sistem Informasi Karyawan</p>
            <a href="profil.html"><button class="btn btn-primary w-50 custom-button">Lihat Profil</button></a>
        </div>
        <div class="card-img">
            <img src="{% static 'img/welcome.svg' %}" alt="Illustration" class="img-fluid">
        </div>
    </div>
</div>
{% endblock content %}
    