<div class="modal fade" id="modalRiwayatPendidikanNonFormal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Riwayat Non Pendidikan Formal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formRiwayatNonFormal">
                    <div class="mb-3">
                        <label class="form-label">Dokumen SK</label>
                        <input type="file" class="form-control" name="dokumen_sk">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">No STTB</label>
                        <input type="text" class="form-control" name="no_sttb" placeholder="Masukkan nomor STTB">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Judul</label>
                        <input type="text" class="form-control" name="judul" placeholder="Masukkan judul pendidikan">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lembaga</label>
                        <input type="text" class="form-control" name="lembaga" placeholder="Masukkan nama lembaga">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal Mulai</label>
                        <input type="date" class="form-control" name="tanggal_mulai">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal Selesai</label>
                        <input type="date" class="form-control" name="tanggal_selesai">
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
