.card {
    background-color: #fff;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    max-width: 50%;
}

.card-text {
    max-width: 50%;
    text-align: left;
}

.step-button {
    padding: 8px 15px;
    background-color: #80d0ff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.step-button:hover {
    background-color: #66b8e6;
}